<div class="page-header">
    <h1>My Books</h1>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> Add Book', path_to.new_book, {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (books.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach(function (book) { %>
                        <tr>
                            <td><strong><%- linkTo(book.name, path_to.book(book)) %></strong></td>
                            <td>
                                <%- link_to('<i class="icon-edit"></i> Edit', path_to.edit_book(book), {class: 'btn btn-mini'}) %>
                                <%- link_to('Read', path_to.book_chapters(book), {class: 'btn btn-mini'}) %>
                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.book(book), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No books were found.</strong> 
            </p>
        <% } %>
    </div>
</div>
